body
{
 font-family:Verdana;
 font-size:12px;
 background-color:#3d5b99;
}


#page
{
  
  background-color:#3d5b99;
  margin: 0px auto;
  padding:0px;
  width:1000px;

}

#banner
{
  position:absolute;
  top:0px;
  background-color:#3d5b99;
  margin: 0px;
  padding:0px;
  
}

#sponsoren
{
  position:absolute;
  right:20px;
  top:0px;
  background-color:#c0c0c0;
  margin: 0px;
  padding:0px; 
  z-index:2;
  font-size: 8px;
}

#haupt-navi
{
  position:absolute;
  width:1000px;

  top:124px;
  margin:0px auto;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:10px;
  padding-right:10px;
  background-color:#3d5b99;
  color:#c0c0c0;
  font-size:15px;
}



#sub-navi
{
  position:absolute;
 
  top:146px;
  width:1000px;
  margin:0px auto;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:10px;
  padding-right:10px;
  background-color:#3d5b99;
  color:#c0c0c0;
  font-size:10px;
}

#content
{
  position:absolute;
  top:164px;
  height: 550px;
 width:880px;
 
  background-color:#c0c0c0;
  padding-left:10px;
  padding-top:20px;
  padding-right:120px;
  overflow:auto;
  color:#2f4778;
  font-size:12px;
  }



#haupt-navi a:link {color:#c0c0c0;text-decoration:none;padding-right:10px;padding-left:10px;}
#haupt-navi a:visited {color:#c0c0c0;text-decoration:none;padding-right:10px;padding-left:10px;}
#haupt-navi a:hover {color:#ffffff;text-decoration:underline overline;padding-right:10px;padding-left:10px;}
#haupt-navi a:active {color:#ffffff;text-decoration:underline overline;padding-right:10px;padding-left:10px;}
#haupt-navi .akktiv:link {color:#ffffff;text-decoration:underline overline;padding-right:10px;padding-left:10px;}
#haupt-navi .akktiv:visited {color:#ffffff;text-decoration:underline overline;padding-right:10px;padding-left:10px;}
#haupt-navi .akktiv:hover {color:#ffffff;text-decoration:underline overline;padding-right:10px;padding-left:10px;}
#haupt-navi .akktiv:active {color:#ffffff;text-decoration:underline overline;padding-right:10px;padding-left:10px;}

#sub-navi a:link {color:#c0c0c0;text-decoration:none;padding-right:10px;padding-left:10px;}
#sub-navi a:visited {color:#c0c0c0;text-decoration:none;padding-right:10px;padding-left:10px;}
#sub-navi a:hover {color:#ffffff;text-decoration:underline overline;padding-right:10px;padding-left:10px;}

#content img {border-style:solid;border-width:1px;border-color:black;}
#sponsoren img {border-style:none;border-width:0;border-color:black;}

#content a:before{ content:"\00BB";}
#content a:after{content:"\00AB";}

#content a:link{text-decoration:none;color:#000000;}
#content a:visited{text-decoration:none;color:#000000;}
#content a:hover{text-decoration:underline overline;color:#000000;}

#sponsoren a:before{ content:"\00BB"; display:none;}
#sponsoren a:after{content:"\00AB"; display:none;}

table.datatable1
{
width: 880px;
border-color: #2f4778;;
border-style: solid;
border-width: 1px;
margin: 0;
padding: 0;
}

th
{
border-bottom-color: #2f4778;
border-bottom-style: solid;
border-bottom-width: 1px;
margin: 0;
padding: 0;
/* width: 100px; */
}
.summenpreis
{
  border-top-style:double
  border-top-width:3px;
  border-top-color:#2f4778;
  margin:0;
  padding:0;

}


.news-title
{
border-bottom-color: #2f4778;
border-bottom-style: solid;
border-bottom-width: 1px;
font-weight:bold;
}

.news-single
{
  width: 800px;
}

.news-author
{
  font-style:italic;

border-top-color: #2f4778;
  border-top-style:dashed;
border-top-width: 1px;
  width: 400px;
  padding-bottom:30px;
}

.news-teaser
{
   padding-bottom:10px;
}
.artikel
{
  width:200px;
}

.news-navi-link
{
}

.aktion
{
  text-align:center;
}

.bold
{
font-weight:bold;
}
